<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--正式-->
    <add key="directoryPath" value="C:\Users\ching\source\repos\A20200615\Vocabulary"/>
    <!--測試-->
    <!--<add key="directoryPath" value="C:\Users\ching\source\repos\A20200615\Vocabulary"/>-->

  </appSettings>
</configuration>